@using WebApplication.Models.Conection
@model List<tbCliente>

@{
    ViewBag.Title = "Lista Clientes";
}

    <h2>Lista Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Agregar") ||
    @Html.ActionLink("Registrar Atencion", "lis") ||
    @Html.ActionLink("Lista Atencion", "jose")
</p>
<table class="table">
    <tr>
        <th>
            Id Cliente
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Numero Documento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumDocumento)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
